body{
  background-color: grey;
  font-family: 'Share Tech Mono', monospace;
  color: white;
}

h3{
  text-align: center;
  font-size: 22px;
}

h2{
  text-align: left;
  display: inline;
  font-size:26px;
}

h1{
  font-size: 36px;
}

p{
  color: black;
  text-align: center;
}

img {
  display: inline;
  width: 30px;
  height: 30px;
}

div{
  text-align:center;
}

.button{
  width: 125px;
  background-color: #555555;
  border: 2px solid #555555;
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;

  transition-duration: 0.3s;
}

.button:hover{
  background-color:white;
  color:#555555;

  cursor: pointer;
}

.mobileWarning {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.mobileWarning-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.phone {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.phone-content {
    background-image: url("../img/phone.png");
    background-size: 100% 100%;
    margin: 5% auto;
    padding: 20px;
    text-align: center;
    width: 30%;
    height: 80%;
}

.phone-content > p {
    margin-top: 25%;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 64px;
    margin: 3% 3% 0% 0%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: LIGHTGRAY;
  color: white;
  text-align: left;
}

#main h1{
  text-align: center;
}

#container{
  width:100%;
}

#main{
  margin: auto;
  width: 50%;
}

#inventory{
  float: right;
  width: 20%;
}

#profile{
  float: left;
  width: 20%;
}

#roomChoices{
  margin: auto;
  width: 60%;
  padding: 25px;
  height: 20px;
}

#video{
  margin: 5% auto 10% auto;
  width: 90%;
}

#b0{
  float: left;
}

#b1{
  float: right;
}

#bc{
  float: none;
  margin: 0 auto;
}
