li {
  background-color: lightgrey;
  width: 60px;
  list-style-type: none;
  float: left;
  margin: 0px 2px;
  text-align: center;
}

li:hover {
  background-color: dimgrey;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline;
}
