body{
  background-color: grey;
  color: white;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}

#main h1{
  text-align: center;
}

#container{
  width:100%;
}

#main{
  margin: auto;
  width: 50%;
}

#inventory{
  float: right;
  width: 20%;
}

#profile{
  float: left;
  width: 20%;
}

#roomChoices{
  margin: auto;
  width: 25%;
  padding: 10px;
  border: 3px solid red;
  height: 20px;
}

#b0{
  float: left;
}

#b1{
  float: right;
}
